body{
    background-color: #EAC7C7;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}
h1{
    color: #66BFBF;
    font-style: italic;
    font-size: 4rem; 
    margin: 30px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 1.5;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    margin-left: 0;
    padding-top: 10px;
    
}

.Top-container{
    padding-top: 150px;
    margin: 10px;
    border-radius: 30px;
    position: relative;
    background-color: #e4f9F5;
}
.middle-container{
    padding-top: 100px;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #F7F5EB;
}
.bottom-container{
    margin-top: 50px;
    padding: auto;
}  

#cld1{
    position:relative;
    top: 185px;
    right: 150px;
}
#cld2{
    position: relative;
    left: 125px;
}

.lines{
    margin: 75px auto 75px auto;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 15px;
    border-color: rgb(180, 180, 180);
    width: 7%;
}
.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.skill-row{
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
    line-height: 2;
}
.tt-img{
    margin: 30px;
    margin-top: 0;
    margin-right: 30px;
    margin-left: 50px;
    float: right;
    width: 25%;
}
.dev-img{
    margin: 20px;
    margin-top: 0;
    margin-right:60px;
    margin-left: 0;
    float: left;
    width: 45%;
}
.contact-me{
    margin-top: 50px;
    margin-bottom: 50px;
}
.topics{
    font-size: 2.5rem;
    margin: 40px auto 40px auto;
}
.mail{
    text-align: center;
    padding: 10px;
    height: 20px;
    display: inline-block;
    background-color: #F7F5EB;
    margin: 20px;
    border-radius: 10px;
}
.btn{
    text-decoration: none;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
